<a href="https://colab.research.google.com/github/AzmaeenGH/python-control-flow-and-data-structures/blob/main/python_control_flow_and_data_structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1><b>Python Basics & Control Flow Assignment</b></h1>

In [147]:
# Libraries

# importing math library for special math operations
import math

# SECTION A — STRINGS

In [148]:
# -----------------------------------
# Section A: String Manipulation (User Input)
# -----------------------------------
# This program demonstrates:
# - Converting text to title case
# - Accessing first and last characters
# - Reversing a string using a loop
# - Counting character occurrences
# - Removing spaces from a string

In [149]:
# Asking user for their full name
name = input("Enter full name: ")

# convert name to title case and printing it
print(f"Name in title case: {name.title()}")

# printing the first and last character of the name.
print(f"First character: {name[0]}")
print(f"Last character: {name[-1]}")

# printing the name in reverse
# creating an empty string to put value in
reversedName = ""
# looping through all character in the name of the user
for i in name:
  # we are taking the first index of the user name and attaching that to the end of the new name.
  # So, in ABC, we are first writing A, and in this step we have reversedName empty, so it will stay A.
  # next, we are adding A to the end of the new i, which is B. So, we get    i + reversedName   as    "B" + "A" = BA (which is stored in reversedName)
  # next, we are adding B to the end of the new i, which is C. So, we get    i + reversedName   as    "C" + "BA" = CBA (now this is the new reversedName)
  reversedName = i + reversedName
print(f"Reversed Name: {reversedName}")

# Counting letter a
print(f"Total lower case 'a' in name: {name.lower().count("a")}")

# Removing all space from name
print(f"Without space: {name.replace(" ", "")}")

Enter full name: Andrew Beatle
Name in title case: Andrew Beatle
First character: A
Last character: e
Reversed Name: eltaeB werdnA
Total lower case 'a' in name: 2
Without space: AndrewBeatle

In [150]:
# -----------------------------------
# Exercise: Practicing Built-in String Methods
# -----------------------------------
# Using a predefined string, this section demonstrates:
# - Converting text to lowercase
# - Replacing substrings
# - Extracting a portion of a string using slicing
# - Checking string endings
# - Splitting a sentence into a list of words

In [151]:
# Given string
s = "Learning Python Is Fun"

# convert the string to lowercase, and print it
print(s.lower())

# replacing "Fun" with "Awesome"
print(s.replace("Fun", "Awesome"))

# printing 3rd to 10th character
print(f"3rd to 10th character: {s[3:10]}")

# checking if the string ends with "Fun". We will get a boolean value (True or False)
print(s.endswith("Fun"))

# Spliting the string into a list of words
print(s.split())

learning python is fun
Learning Python Is Awesome
3rd to 10th character: rning P
True
['Learning', 'Python', 'Is', 'Fun']

# SECTION B — NUMBERS, MATH & OPERATOR PRECEDENCE

In [152]:
# -----------------------------------
# Exercise: Understanding Operator Precedence
# -----------------------------------
# This section evaluates different mathematical expressions to demonstrate:
# - Order of operations in Python
# - The effect of parentheses
# - Difference between division (/) and floor division (//)
# - Precedence of exponentiation over multiplication

In [153]:
# First multiply 3 and 4, and then add the result to 4. Because multiplication has a higher precedence than addition
# 5 + 3 * 4     =>     5 + 12     =>     17
print(f"5 + 3 * 4: {5 + 3 * 4}")



# Parentheses have highest precedence, so we first do 5+3, and then we multiply the result with 4
# (5 + 3) * 4     =>     8 * 4     =>     32
print(f"(5 + 3) * 4: {(5 + 3) * 4}")



# For 100 / 6, standard division gives a float result
# 100 / 6     =>     16.666666666666668
# For 100 // 6, floor division gives the integer part only
# 100 // 6     =>     16
# python logic:
#     Evaluate
#     if A is false, return A
#     if A is true, return B
# thats why, in this case, even though both give slightly different answer (16.666666666666668 and 16), Python returns the value of the last one (which here is 16)
print(f"100 / 6 and 100 // 6: {100 / 6 and 100 // 6}")



# Exponentiation has higher precedence than multiplication
# So, we calculate like this:
# 2 ** 5 * 3     =>     32 * 3     =>     96
print(f"2 ** 5 * 3: {2 ** 5 * 3}")

5 + 3 * 4: 17
(5 + 3) * 4: 32
100 / 6 and 100 // 6: 16
2 ** 5 * 3: 96

In [154]:
# -----------------------------------
# Exercise: Using the math Module
# -----------------------------------
# This section demonstrates usage of Python's math module to:
# - Calculate square roots
# - Compute sine values (with degree conversion)
# - Calculate powers
# - Access and round the value of π to 4 decimals

In [155]:
# using  math.sqrt()  to find the root of the value
print(math.sqrt(225))

# using  math.sin(math.radians())  to get the value
print(math.sin(math.radians(90)))


# using math.pow()
# inside bracked, the first value is the number and the second value is the power
print(math.pow(8,3));


# value of pi
print(round(math.pi, 4))

15.0
1.0
512.0
3.1416

# SECTION C — IF STATEMENTS & LOGICAL OPERATORS

In [156]:
# -----------------------------------
# Exercise: Number Classification
# -----------------------------------
# This program:
# - Determines whether a number is Positive, Negative, or Zero
# - Determines whether it is Even or Odd
# - Uses conditional statements to control output

In [157]:
# Take any number from user:
# (to make calculations easier, we are only accepting integer input)
number = int(input("Enter number (integer only): "))

# If statement to check if the number is Positive, Negative, or Zero
if number>0:
  print("Positive")
if number==0:
  print("Zero")
if number<0:
  print("Negative")

# If statement to check if the number is Even or Odd
if number%2 == 0:
  print("Even")
else:
  print("Odd")

Enter number (integer only): 5
Positive
Odd

In [158]:
# -----------------------------------
# Exercise: Student Marks Evaluation
# -----------------------------------
# This program:
# - Takes marks for three subjects
# - Calculates total and average
# - Determines Pass or Fail using logical operators
# - Determines Distinction based on average score

In [159]:
# Take marks, for three subjects, from the user:
mark1 = float(input("Enter marks for subject 1: "))
mark2 = float(input("Enter marks for subject 2: "))
mark3 = float(input("Enter marks for subject 3: "))

# an empty line to separate input and output
print("")

# average marks
average = (mark1 + mark2 + mark3 )/3

#
if mark1>= 40 and mark2>= 40 and mark3>= 40:
  # pass if all marks are 40 or above
  print("Pass")

  # pass type is Distinction, if average is 75 or above
  if average >= 75:
    print("Distinction")
  # pass type is Normal Pass, if average is below 75
  else:
    print("Normal Pass")

# Fail if all marks are below 40
else:
  print("Fail")

Enter marks for subject 1: 68
Enter marks for subject 2: 78
Enter marks for subject 3: 88

Pass
Distinction

# SECTION D — LOOPS

In [160]:
# -----------------------------------
# Exercise: While Loop with break and continue
# -----------------------------------
# This program:
# - Iterates from 1 to 50
# - Skips numbers divisible by 4
# - Stops execution entirely when reaching 37
# - Demonstrates use of break and continue statements

In [161]:
# starting from number 1
num = 1

# running a loop for 1 - 50
while num<=50:
  # running a if statement for 37, so that we can stop when it is encountered.
  if num == 37:
    break
  # skipping every 4th number, as in every number divisible by 4.
  if num % 4 == 0:
    num +=1
    continue
  # printing the number. Printing all number that were not skipped.
  print(num)
  # moving to the next number and continuing the loop
  num+=1

1
2
3
5
6
7
9
10
11
13
14
15
17
18
19
21
22
23
25
26
27
29
30
31
33
34
35

In [162]:
# -----------------------------------
# Exercise: Multiplication Table Generator
# -----------------------------------
# This program:
# - Takes a user-entered number
# - Uses a for loop to generate its multiplication table (1–12)

In [163]:
# get input from user
i = int(input("Enter value for multiplication table: "))

print(f"\nCalcalutaion for {i}'s table:\n")

# calculations (user-entered number   X   (1-12))
for x in range(1,13):

  # actual multiplcation for each line
  multiply = i*x

  # print each line in a multiplication table format
  print(f"{i} x {x} = {multiply}")

Enter value for multiplication table: 5

Calcalutaion for 5's table:

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
5 x 11 = 55
5 x 12 = 60

In [164]:
# -----------------------------------
# Exercise: Nested Loop Pattern Printing
# -----------------------------------
# This section demonstrates nested loops by printing a numeric triangle pattern.
# 1
# 12
# 123
# 1234
# 12345

In [165]:
# run a for-loop for number 1-100
for i in range(1,6):

  # creating an empty string. all the lines will be string instead of numbers.
  line = ""

  # loop for the triangle
  for j in range (1, i+1):

    # appending new string value to previous ones
    line = line + str(j)

  # printing the line, at the end of outermost loop
  print(line)

1
12
123
1234
12345


# SECTION E — LISTS & LIST COMPREHENSION

In [166]:
# -----------------------------------
# Exercise: List Methods and Operations
# -----------------------------------
# This section demonstrates:
# - Sorting a list
# - Inserting elements at specific positions
# - Removing elements
# - Finding maximum and minimum values
# - Reversing a list
# - Counting occurrences of specific elements

In [167]:
# List:
nums = [12, 4, 8, 1, 9, 3, 4, 4]

# sorting the list in ascending order
nums.sort()
print(f"Sorted list: {nums}")

# insert 100 in index 2
nums.insert(2,100)
print(f"After inserting 100 in index 2 we get: {nums}")

# removing value 1
nums.remove(1)
print(f"After removing 1 we get: {nums}")

# Finding and printing the max and min values
maxValue = max(nums)
minValue = min(nums)
print(f"Max Value: {maxValue}")
print(f"Min Value: {minValue}")


# Reversing list
nums.reverse()
print(f"Reversed list: {nums}")

# Counting how many times 4 appears
counting = nums.count(4)
print(f"Number of times 4 appeared: {counting}")

Sorted list: [1, 3, 4, 4, 4, 8, 9, 12]
After inserting 100 in index 2 we get: [1, 3, 100, 4, 4, 4, 8, 9, 12]
After removing 1 we get: [3, 100, 4, 4, 4, 8, 9, 12]
Max Value: 100
Min Value: 3
Reversed list: [12, 9, 8, 4, 4, 4, 100, 3]
Number of times 4 appeared: 3

In [168]:
# -----------------------------------
# Exercise: Conditional List Processing
# -----------------------------------
# This program:
# - Filters odd numbers
# - Identifies numbers greater than 20
# - Replaces numbers less than 10

In [169]:
# created a list of 10 integers:
nums = [5, 12, 7, 25, 18, 3, 30, 9, 22, 1]

# printing the list
print(f"list: {nums}\n")

# printing only odd number
print("Odd Numbers:")
for i in nums:
  if i % 2 != 0:
    print(i)

# printing only numbers greater than 20
print("Numbers greater than 20: ")
for i in nums:
  if i > 20:
    print(i)

# replacing all numbers less than 10 with 0
print("After switching all numbers less than 10 with 0:")
for i in nums:
  if i >= 10:
    print(i)
  else:
    i = 0
    print(i)

list: [5, 12, 7, 25, 18, 3, 30, 9, 22, 1]

Odd Numbers:
5
7
25
3
9
1
Numbers greater than 20:
25
30
22
After switching all numbers less than 10 with 0:
0
12
0
25
18
0
30
0
22
0

In [170]:
# -----------------------------------
# Exercise: Conditional Number Generation
# -----------------------------------
# This section generates numbers from 1 to 100 that:
# - Are divisible by 3
# - Are not divisible by 5
# - Demonstrates conditional logic within iteration

In [171]:
# run a for-loop for number 1-100
for i in range(1,101):
  # making sure a number is printed, only when it meets both the requirements
  if (i % 3 == 0) and (i % 5 !=0):
    print(i)

3
6
9
12
18
21
24
27
33
36
39
42
48
51
54
57
63
66
69
72
78
81
84
87
93
96
99

THANK YOU.